<?xml version='1.0' encoding='utf-8'?>
<widget id="com.greatnew.dane" version="1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GreatDane</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <feature name="Device">
	    <param name="ios-package" value="CDVDevice" />
	    <param name="android-package" value="org.apache.cordova.device.Device" />
	</feature>
	<feature name="File">
	    <param name="ios-package" value="CDVFile" />
	    <param name="android-package" value="org.apache.cordova.file.FileUtils" />
	</feature>
	<feature name="FileTransfer">
	    <param name="ios-package" value="CDVFileTransfer" />
	    <param name="android-package" value="org.apache.cordova.filetransfer.FileTransfer" />
	</feature>
    <content src="index.html" />
    <access origin="*" />
    <preference name="orientation" value="landscape"></preference>
    <preference name="fullscreen" value="true" />
</widget>
